h3 {
    color: rgb(255, 225, 170);
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    margin: 30px;
    margin-left: 5px;
    margin-top: 40px;
    margin-block-end: 0px;
}

section.sectionAbout {
    margin: 30px;
}
p.presentacion {
    color: beige;
    font-size: 20px;
}