body {
    background: linear-gradient(to right, #000000, #434343);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0px;
}
h3 {
    color:rgb(255, 225, 170);
    text-align: center;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    justify-content: flex-start;
    display: flex;
    margin-left: 20px;
}

.categoria1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.categoria2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


