* {
    box-sizing:border-box
}

body {
    background-color: rgb(20, 20, 20);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0px;
}

.texto1 {
    color: rgb(255, 225, 170);
    margin:0%;
    font-size: 20px;
    width:100%;
    margin-left: 11px;
    font-family: 'Oswald', sans-serif;
}

.texto2 {
    font-size: 15px;
    margin-left: 11px;
    color:white;
    font-family: 'Oswald', sans-serif;
}

footer{
    background-color:black;
    height:250px;
    margin-top: 25px;
}

.contacto {
    display: flex;
    justify-content: center;
    margin: 0px 5px 8px 8px;
}

.icono {
    margin: 3px 8px;
    color: white;
    display: grid;
}

.contacto i {
    font-size: 18px;
    color: white;
}

.logo_tmdb {
    width: 200px;
    height: 80px;
}

.art1_footer{
    text-align: center;
    margin: 15px;
}

.art2_footer{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

article {
    margin: 20px 0px;
}

@media (max-width:1024px) {

    body {
        width: auto;
        margin-right: 0px;
    }

}

@media (max-width:650px) {
    .texto1 {
        font-size: 15px;
    }

    .contacto i {
        font-size: 14px;
    }
}