* {
    box-sizing:border-box
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding: 8px;
    height: 100px;
}
.logo {
    height: 95%;
}

ul {
    display: flex;
    padding-inline-start: 0px;
    list-style-type: disc;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
a.link {
    color: rgb(255, 225, 170);
    text-decoration: none;
    background-color: black;
    padding: 5px;
    margin: 0 4px;
    border-radius: 6px;
    font-size: 18px;
    margin: 0px 10px;
    font-family: 'Oswald', sans-serif;
}

.caja1 {
    display: flex;
}

.caja2 {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}



.navegador {
    display: flex;
    align-items: center;
}

.textonav {
    color: rgb(255, 225, 170);
    text-decoration: none;
    background-color: black;
    padding: 5px;
    margin: 0 4px;
    border-radius: 6px;
    font-size: 18px;
    margin: 0px 10px;
    font-family: 'Oswald', sans-serif;
}

.error{
    color:white;
    font-family: 'Oswald', sans-serif;
}

.formulario {
    display: flex;
    align-self: center;
}

input {
    width: 300px;
    height: 35px;
}

button {
    width: 40px;
    height: 35px;
}

@media (max-width:1024px) {

    header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 130px;
    }

    .logo {
        height: 8vh;
    }

    .caja2 {
        margin-right: 30px;
    }

    .textonav {
        font-size: 16px;
        margin: 0px 10px;
    }

    input {
        width: 250px;
        height: 30px;
    }

    button {
        height:30px;
    }

}

@media (max-width:650px) {

    .textonav {
        font-size: 10.5px;
        margin: 0px 5px;
    }

    input {
        width: 172px;
        height:25px;
    }

    button {
        width: 35px;
        height:25px;
    }


}