* {
    box-sizing:border-box
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding: 8px;
    height: 100px;
}
.logo {
    height: 95%;
}

ul {
    display: flex;
    padding-inline-start: 0px;
    list-style-type: disc;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
a.link {
    color: rgb(255, 225, 170);
    text-decoration: none;
    background-color: black;
    padding: 5px;
    margin: 0 4px;
    border-radius: 6px;
    font-size: 18px;
    margin: 0px 10px;
    font-family: 'Oswald', sans-serif;
}

.caja1 {
    display: flex;
}

.caja2 {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}



.navegador {
    display: flex;
    align-items: center;
}

.textonav {
    color: rgb(255, 225, 170);
    text-decoration: none;
    background-color: black;
    padding: 5px;
    margin: 0 4px;
    border-radius: 6px;
    font-size: 18px;
    margin: 0px 10px;
    font-family: 'Oswald', sans-serif;
}

.error{
    color:white;
    font-family: 'Oswald', sans-serif;
}

.formulario {
    display: flex;
    align-self: center;
}

input {
    width: 300px;
    height: 35px;
}

button {
    width: 40px;
    height: 35px;
}

