.botonCargar {
    width: 20%;
    height: 35px;
    margin: 30px;
    background-color: rgb(227, 188, 164); 
    border-radius: 5px;
}
h3.todas {
    color:rgb(255, 225, 170);
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    justify-content: flex-start;
    display: flex;
    margin: 30px;
}



@media (max-width:1024px) {

    button {
        height:30px;
    }

}

@media (max-width:650px) {

    h3 {
        display: flex;
        justify-content: center; }

    }

    .categoria2 {
        display: flex;
        flex-wrap: wrap;   
    }

    button {
        width: 35px;
        height:25px;
    }

